body {
    color :#333;
    background-color:  #f0f0f0;
    font-family: Arial, sans-serif;
}
.header {
    font-family: 'Georgia', serif;
    font-size:60px;
    background-color: #0056b3;
    color:white;
    text-align: center;
    padding-top:5px;
    padding-bottom:70px;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    color:tomato;
    display:block;
}
.navbar {
    display: flex;
    justify-content: space-around;
    list-style: none;   
    margin: 0;
    padding: 0;
    background-color:black;
    font-size:2.4rem;
}
.navbar li {
    color:white;
    position:relative;
}

.navbar ul li a {
    color: white; 
    display: flex; 
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;  
}
.navbar ul li a:hover {
    color: tomato;
}
.dropdown {
    display:none;
    position: absolute;
    left: 0;
    background-color: blanchedalmond;
    width:200px;
    
}

.navbar li:hover > .dropdown {
    
    background-color:blanchedalmond;
    position: absolute;
    z-index:10;
    left:0;
    display:block;
}
.dropdown li {
    list-style: none;
    text-align:left;
    padding: 10px;
    color: white;
    top:0;
    width:100%;
}
.dropdown li:hover {
    color:tomato;
}